body{
	background-image:
url("https://scontent-sea1-1.xx.fbcdn.net/v/t1.15752-9/116898833_650129452265341_5901216406126784032_n.png?_nc_cat=108&_nc_sid=b96e70&_nc_ohc=Pqz9mXPSvCMAX-uu6Rc&_nc_ht=scontent-sea1-1.xx&oh=51a4bd823904d8e3812639ba07ae28bd&oe=5F58DEB8");
}

h1{
	font-size: 30px;
	color: teal;
}

h2{
	color: red;
	font-size: 20px;
}

h2{
	color: green;
}

.big{
	font-size: 60px
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: navy;
}

h1 span{
	color: violet;
}