body{
	background-image:
url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTaNrSeWNuThTuFTtSEK1Ag2K-6RnSeLLBPpA&usqp=CAU");
}

h1{
	font-size: 30px;
	color: teal;
}

h2{
	color: red;
	font-size: 20px;
}

h2{
	color: green;
}

.big{
	font-size: 60px
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: navy;
}

h1 span{
	color: violet;
}